apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: expense-tracker
  labels:
    app: notification-service
    service: notification
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 8083
    targetPort: 8083
    protocol: TCP
  selector:
    app: notification-service

